@charset "UTF-8";
@font-face {
  font-family: 'ALSFuchsia';
  src: url(../layout/alsfuchsia.otf/alsfuchsia.otf); }

* {
  padding: 0;
  margin: 0; }

body {
  background: #ffffff;
  font-family: "Arial";
  height: 100%; }

h1 {
  color: #000000;
  font-family: "Arial";
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  padding: 60px 0 50px; }
  @media only screen and (max-width: 780px) {
    h1 {
      font-size: 30px; } }

p {
  margin-bottom: 1em; }

.wrapper {
  width: 1286px;
  margin: 0 auto;
  display: table;
  height: 100%; }
  @media only screen and (max-width: 1300px) {
    .wrapper {
      width: 1000px;
      margin: 0 auto; } }
  @media only screen and (max-width: 1023px) {
    .wrapper {
      width: 768px;
      margin: 0 auto; } }
  @media only screen and (max-width: 780px) {
    .wrapper {
      width: 320px;
      margin: 0 auto;
      display: block;
      padding: 0 10px 0 10px;
      box-sizing: border-box; } }

header {
  padding-top: 60px; }

.logo {
  background-image: url("../img/logo.png");
  float: left;
  width: 356px;
  height: 43px; }
  @media only screen and (max-width: 780px) {
    .logo {
      background-image: url("../img/logo.png");
      float: left;
      width: 237px;
      height: 29px;
      background-size: contain; } }

input {
  width: 280px;
  border: none;
  padding-left: 10px; }

.search {
  width: 280px;
  float: right;
  display: inline-flex;
  border: 1px solid gray;
  border-radius: 16px;
  padding: 2px 10px; }
  .search span {
    padding: 15px;
    background: #ffffff url("../img/search_ico.png") no-repeat center center; }
  @media only screen and (max-width: 780px) {
    .search {
      width: 240px;
      float: none; } }

.text {
  text-align: center;
  padding: 0 15%;
  font-size: 32px;
  line-height: 52px; }
  @media only screen and (max-width: 1300px) {
    .text {
      text-align: center;
      padding: 0 10px;
      font-size: 32px;
      line-height: 52px; } }
  @media only screen and (max-width: 1023px) {
    .text {
      text-align: center;
      padding: 0 10px;
      font-size: 32px;
      line-height: 52px; } }
  @media only screen and (max-width: 780px) {
    .text {
      text-align: center;
      padding: 0 15%;
      font-size: 16px;
      line-height: 20px; } }

section {
  display: table-row;
  height: 100%; }

a {
  color: #4283c0; }

.book {
  display: none;
  width: 21.3%;
  padding-top: 50px;
  margin: 0 1.4%; }
  .book_img {
    padding-top: 30px;
    padding-bottom: 20px; }
  .book p {
    text-align: center;
    font-size: 19px;
    color: #4d4d4d; }
  .book p u {
    color: #4283c0; }
  .book a {
    text-decoration: none; }
  div .book:nth-child(1) {
    display: inline-flex; }
  div .book:nth-child(2) {
    display: inline-flex; }
  div .book:nth-child(3) {
    display: inline-flex; }
  div .book:nth-child(4) {
    display: inline-flex; }
  @media only screen and (max-width: 1023px) {
    .book {
      display: none;
      width: 50%;
      padding-top: 50px;
      margin: 0; } }
  @media only screen and (max-width: 780px) {
    .book {
      display: none;
      width: 100%;
      padding-top: 50px;
      margin: 0 1.4%; } }

.bender_footer {
  background-image: url("../img/logo_footer.png");
  text-align: center;
  width: 300px;
  position: relative;
  height: 194px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 70px; }

.text_md {
  padding: 0 26%; }
  .text_md h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px; }
  .text_md p {
    font-size: 19px;
    line-height: 29px; }
  .text_md h3 {
    font-size: 24px;
    margin: 30px 0; }
  .text_md span {
    font-style: italic; }
  .text_md ul {
    padding-left: 30px; }
  .text_md ul li {
    font-size: 19px;
    list-style-type: none;
    padding-bottom: 30px; }
  .text_md ul li:before {
    content: '— ';
    margin-bottom: 30px; }
  @media only screen and (max-width: 1300px) {
    .text_md {
      padding: 0 10px; } }
  @media only screen and (max-width: 1023px) {
    .text_md {
      padding: 0 10px; } }
  @media only screen and (max-width: 780px) {
    .text_md {
      padding: 0 10px; }
      .text_md h2 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 50px; } }

.elegant {
  padding: 0 20%; }
  .elegant p {
    font-size: 36px;
    font-family: 'ALSFuchsia';
    padding: 50px 0;
    margin: 50px 0;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d; }
  @media only screen and (max-width: 1300px) {
    .elegant {
      padding: 0 10px; } }
  @media only screen and (max-width: 1023px) {
    .elegant {
      padding: 0 10px; } }
  @media only screen and (max-width: 780px) {
    .elegant {
      padding: 0 10px; }
      .elegant p {
        font-size: 20px; } }

.icon {
  display: inline-block;
  margin: 60px auto;
  width: 16%; }
  @media only screen and (max-width: 780px) {
    .icon {
      display: inline-block;
      margin: 10px auto;
      width: 100%; } }

.more_link {
  display: block;
  width: 280px;
  margin: 50px auto 0 auto;
  border: 2px solid #4283c0;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  color: #4283c0;
  padding: 10px 0;
  font-size: 17px; }

.block {
  width: 20%;
  float: left;
  text-align: center;
  margin-top: 50px; }
  .block p {
    font-size: 21px;
    margin-top: 25px; }
  @media only screen and (max-width: 1023px) {
    .block {
      display: block;
      float: right;
      width: 50%; } }
  @media only screen and (max-width: 780px) {
    .block {
      display: block;
      float: none;
      width: 280px; } }

.one_book {
  display: block;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .one_book > div:nth-child(1) {
      float: left;
      width: 100%; }
    .one_book > div:nth-child(2) {
      float: right;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0; }
    .one_book > div:nth-child(3) {
      float: left;
      width: 100%; } }

.big_block {
  width: 36%;
  float: left;
  margin: 50px 12%;
  display: inline-grid; }
  .big_block p {
    text-align: center;
    font-size: 24px; }
  .big_block strong {
    color: #fe5552; }
  .big_block .price_ds {
    color: #dbdbdb;
    font-size: 15px;
    font-style: italic; }
  .big_block img {
    margin: 10px auto;
    display: table; }
  @media only screen and (max-width: 1023px) {
    .big_block {
      display: block;
      float: right;
      width: 100%;
      margin-left: 0; } }
  @media only screen and (max-width: 780px) {
    .big_block {
      display: block;
      float: none;
      width: 280px;
      margin-left: 0; } }

.one_icon {
  margin: 10px auto;
  display: table; }

.price {
  display: block;
  margin: 30px auto;
  background-color: #825484;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  padding: 22px 20px;
  font-size: 32px;
  text-decoration: none; }
  .price:hover {
    box-shadow: 2px 10px 15px 2px rgba(51, 10, 110, 0.48); }
  @media only screen and (max-width: 1023px) {
    .price {
      width: 60%;
      font-size: 18px;
      padding: 12px 10px; } }

@media only screen and (max-width: 1300px) {
  .singleBook img {
    width: 60%; } }

@media only screen and (max-width: 1023px) {
  .singleBook img {
    width: 60%; } }

@media only screen and (max-width: 780px) {
  .singleBook img {
    height: 250px;
    width: auto;
    display: block; } }

@media only screen and (max-width: 780px) {
  .icons {
    text-align: center; } }

