<!DOCTYPE html>
<html lang="ru" ng-app="BookApp">
<head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body ng-controller="BookListCtrl">
<div class="wrapper">
    <header>

        <a href="./index.html">
            <p class="logo"></p>
        </a>
        <div class="search">
            <span class="glyphicon glyphicon-search"></span>
            <input  ng-model="myQuery" type="search" name="name"  placeholder="Поиск скорее всего не работает">
        </div>


    </header>
    <main>
        <h1>Вы работаете - мы отдыхаем</h1>
        <div class="text">
            Мы не несем ответственности за изданные книги. Мы выбираем книги случайно и где попало.
            Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость.
            Поэтому мы обходимся двумя словами, чтобы выразить все эмоциии и донести смысл.
        </div>

        <div class="text_md">
        <h2>История названия</h2>
        <p>
            Название издательства "Фрай, без штанов и Бендер" является отсылкой к известному мировому издательству XXI века
            "Манн, Иванов и Фербер". После того как издательство смоделировало искусственный интеллект
            (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве
            межгалактический совет запретил издавать бумажные книги.
        </p>
        </div>

    </main>
    <section class="icons">
        <p class="icon">
            <img src="img/skraffi13.png" alt=""/>
        </p>
        <p class="icon">
            <img src="img/Shape-2.png" alt=""/>
        </p>
        <p class="icon">
            <img src="img/skraffi1.png" alt=""/>
        </p>
        <p class="icon">
            <img src="img/skraffi11.png" alt=""/>
        </p>
        <p class="icon">
            <img src="img/zapp.png" alt=""/>
        </p>
        <p class="icon">
            <img src="img/zapp1.png" alt=""/>
        </p>
    </section>
    <div class="text_md">
        <h2>Основатели</h2>
        <h3>Филип Джей Фрай</h3>
        <p>
           В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в "Пиццерии Пануччи".
            Жизнь у него пустая, его ничего не интересует, кроме разве что игровых автоматов.
        </p>
        <p>
            Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить
            пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он
            сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь,
            и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на
            1000 лет и был разморожен только 31 декабря 2999 года.
        </p>
        <p>
            Позднее, в эпизоде "The Why of Fry", оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал
            в криокамеру, для того чтобы Фрай спас вселенную в серии "The Day the Earth Stood Stupid".
            В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина - девушка: Зубастик
            заключает с Фраем сделку - Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей,
            а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.
        </p>
        <h3>Бендер Сгибатель Родригес великий, незаконнособранный</h3>
        <p>
            Бендер Сгибатель Родригес, более известный как Бендер - один из главных персонажей "Футурамы". Он
            был сделан в Мексике(Тихуана) в 2997 году. Имеет серийный номер 27 16057. Бендер пьет большое количество
            алкоголя, чтобы подзарядить свои топливные элементы. Когда он отрыгивает, из его рта выходит огонь.
            Авантюрист, любит курить сигары. В настоящее время живет с Фраем в квартире.

        </p>
        <h2>Сотрудники</h2>
        <h3>Скраффи Скраффингтон</h3>
        <p>
            Скраффи Скраффингтон, или просто Скраффи - уборщик в компании "Планет Экспресс". О нем часто повторяют
            шутки про то, что он мало взаимодействует с остальным коллективом и многие его просто не помнят или
            никогда не видели раньше. Также, Скраффи является владельцем 40 тыс. акций "Планет Экспресса", и это
            больше чем у всех остальных сотрудников, поскольку он "больше всех любит свою компанию" (по его словам).
        </p>
        <p>
            Скаффи ленив и его обычно можно увидеть в подвале здания штаб "Планет Экспресс", где он читает журнал
            "Zero-G Jugg" или "National Pornographic" (<span>рус.</span> "Нэшнл Порнографик"). Обычно о себе
            говорит в третьем лице.
        </p>
    </div>
    <div class="elegant">
        <p>
            Сотрудники издательства были не раз замечены в провокациях и совершали бессмысленные действия
        </p>
    </div>
    <div class="text_md">
        <h3>Ужасный студень</h3>
        <p>
            Добродушный пришелец, но прибегает к начилию даже при малейшей провокации. Как правило глотает негодяя.
        </p>
        <h3>Калькулон</h3>
        <p>
            Рекламное лицо компании.
        </p>
        <h3>Зепп Бранниган</h3>
        <p>
            Зепп Бранниган (<span>англ.</span> Zapp Brannigan, полное имя Уебело Зепп Бранниган,
            <span>англ.</span> Webelo Zapp Brannigan) - персонаж, человек, капитан коробля Нимбус. Питает страсть
            к Лиле, но она не отвечает взаимностью. Имеет собственного помошника - Кифа. Часто заставляет его делать
            неприятную работу, например, почесать спинку, намылить Зеппу голову в душе и так далее. Занимает должность
            генерала в армии.
        </p>
        <p>
            Киф ненавидит Зеппа, но вынужден служить ему. Больше всего Киф ненавидит, когда Зепп его просит:
        </p>
        <ul>
            <li>потереть спинку;</li>
            <li>подать свежее нижнее белье в душ;</li>
            <li>позвонить в службу доставки парфюма и угрозами об уничтожении выпросить 99% скидку на любимые
                духи Зеппа;</li>
            <li>помыть посуду;</li>
            <li>передать вон той леди, как Зепп ее сильно желает.</li>
        </ul>
        <p>
            В остальном Киф доволен службой в Ограниченных Галактических Непобедимых войсках на должности помощника
            генерала.
        </p>


    </div>

</div>
<footer>
        <div class="bender_footer">
        </div>
</footer>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>