<!DOCTYPE html>
<html lang="ru"  ng-app="BookApp">
<head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-sanitize.js"></script>




</head>
<body ng-controller="BookListCtrl">
<div class="wrapper">
    <header>

        <p class="logo"></p>
        <div class="search">
            <span class="glyphicon glyphicon-search"></span>
            <input  ng-model="myQuery" type="search" name="name"  placeholder="Поиск скорее всего не работает">
        </div>

    </header>
    <main>
        <h1>Самое незаметное издательство</h1>
        <div class="text">
            Перетаскивая книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.
        </div>

    </main>
    <section>

        <div ng-repeat="singleBook in books | filter: myQuery"  class="book"  ng-model="showText">
            <a id="{{singleBook.id}}"  ng-model="showText" href="./tovar.html#{{singleBook.id}}">
                <p class="book_img">
                    <img src="{{singleBook.cover.small}}">
                </p>
                <p ng-bind-html="singleBook.info"></p>
            </a>
        </div>

        <p id="add_more" class="more_link">Еще несколько книг</a>

    </section>
    <div class="text_md">


        <p ng-show = "myQuery">
            Выведены книги, содержащие {{myQuery}}
        </p>


    </div>










</div>
<footer>
    <a href="./contacts.html">

        <p class="bender_footer"></p>
    </a>
</footer>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

<script type="text/javascript">
    var book_id = window.location.hash.toString();
    var book_min = book_id.replace("#","");
    var book_num = 8;
    var all_books = document.getElementsByClassName('book');
    document.getElementById('add_more').onclick = function(e) {
        for (var i = 0; i < all_books.length ; i++) {
            if (i < book_num) {
                all_books[i].style="display: inline-flex";
                if (i == all_books.length - 1) {
                    document.getElementById('add_more').style="display: none";
                }
            }
        }
        book_num = book_num + 4;
    }
</script>

<script type="text/javascript">


    document.querySelector('.book').onmousedown = function(e) {
        var book = this;

        book.style.position = 'absolute';
        document.body.appendChild(book)
        move(e)

        function move(e) {
            book.style.left = e.pageX - book.offsetWidth / 2 + 'px';
            book.style.top = e.pageY - book.offsetHeight / 2 + 'px';

        }
        document.onmousemove = function(e) {
            move(e);
        }
        book.onmousedown = function(e){
            document.onmosemove = null;
            book.onmouseup = null;
        }
    }
</script>



</body>
</html>