<!DOCTYPE html>
<html lang="ru" ng-app="BookApp">
<head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-sanitize.js"></script>


</head>
<body ng-controller="BookListCtrl">
<div class="wrapper" >
    <header>

        <a href="./index.html">
            <p class="logo"></p>
        </a>
        <div class="search">
            <span class="glyphicon glyphicon-search"></span>
            <input  ng-model="myQuery" type="search" name="name"  placeholder="Поиск скорее всего не работает">
        </div>

    </header>
    <main>
        <h1>Мы издаем книги - вы их можете не читать</h1>


    </main>
    <section>



        <form name="orderForm">
            <fieldset>
                <input type="text" ng-model="example" ng-controller="submitForm" ng-submit="submit()">


                <button type="submit">Оформить заказ</button>
             </fieldset>
        </form>




    </section>
</div>
<footer>
    <a href="./contacts.html">

        <p class="bender_footer"></p>
    </a>
</footer>




<!-- <script src="js/app_exp2.js"></script>
<script src="js/controllers_exp2.js"></script> -->

<script type="text/javascript">
    var orderForm = document.forms.orderForm;

    orderForm.addEventListener('submit', function(event) {
        event.preventDefault();
        submitForm();
    });

    function submitForm() {
        var request = new XMLHttpRequest();

        request.open('POST', 'https://netology-fbb-store-api.herokuapp.com/order');
        request.setRequestHeader('Content-Type', 'application/json');

        request.onreadystatechange = function() {
            if (this.readyState === 4) {
                console.log('Status:', this.status);
                console.log('Headers:', this.getAllResponseHeaders());
                console.log('Body:', this.responseText);
            }
        };

        var body = {
            manager: 'manager@fbb-store.com',
            book: 'fbb-0002',
            name: 'Ivanov Ivan',
            phone: '+74954509834',
            email: 'ivan@mail.ru',
            comment: 'No comments',
            delivery: {
                id: 'delivery-01',
                address: 'Earth, Russia, Moscow city, Kremlin'
            },
            payment: {
                id: 'payment-01',
                currency: 'R01235'
            }
        };

        request.send(JSON.stringify(body));
    }

</script>


</body>
</html>