<!DOCTYPE html>
<html lang="ru" ng-app="BookApp">
  <head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-sanitize.js"></script>


  </head>
  <body ng-controller="BookListCtrl">
    <div class="wrapper" >
      <header>

        <a href="./index.html">
          <p class="logo"></p>
        </a>
        <div class="search">
          <span class="glyphicon glyphicon-search"></span>
          <input  ng-model="myQuery" type="search" name="name"  placeholder="Поиск скорее всего не работает">
        </div>

      </header>
      <main>
        <h1>Мы издаем книги - вы их можете не читать</h1>


      </main>
      <section>

       <div id="{{books.id}}"  ng-model="showText"  class="one_book">

         <div class="block">
          <div class="cite" ng-repeat="reviews in books.reviews">
            <img src="{{reviews.author.pic}}">
            <p ng-bind-html="reviews.cite"></p>
          </div>
         </div>


          <div class="big_block" id="{{singleBook.id}}">
            <p class="singleBook">
              <img src="{{books.cover.large}}">
            </p>
            <p ng-bind-html="books.description"></p>

            <a href="./pay.html#{{books.id}}" alt="" class="price">Купить за жалкие 1999 P</a>
            <p class="price_ds">
              Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи
            </p>
            <p class="one_icon">
              <img src="img/skraffi1.png" alt=""/>
            </p>
          </div>
        <div class="block">
         <div class="cite"  ng-repeat="features in books.features">
           <img src="{{features.pic}}">
           <p ng-bind-html="features.title"></p>
         </div>
        </div>
        </div>

      </section>
    </div>
  <footer>
    <a href="./contacts.html">

      <p class="bender_footer"></p>
    </a>
  </footer>




    <script src="js/app_exp.js"></script>
    <script src="js/controllers_exp.js"></script>

    <script type="text/javascript">
      var book_id = window.location.hash.toString();
      var book_min = book_id.replace("#","");

    </script>


  </body>
</html>