$black: #000000;
$white: #ffffff;
$blue: #4283c0;
$red: #fe5552;
$grey: #4d4d4d;
$font-family: "Arial";
$sm: 19px;
$lg: 72px;
$med: 32px;
$center: center;

@font-face {
	font-family: 'ALSFuchsia';
	src: url(../layout/alsfuchsia.otf/alsfuchsia.otf);
}

*{
	padding: 0;
	margin: 0;
}

body { 
	background: $white;
	font-family: $font-family;
	height: 100%;

}

h1 {
	color: $black;
	font-family: $font-family;
	font-size: $lg;
	font-weight: bold;
	text-align: $center;
	padding: 60px 0 50px;

	@media only screen and (max-width: 780px) {
		font-size: 30px;
	}
}

p{
	margin-bottom: 1em;
}

.wrapper {
	width: 1286px;
	margin: 0 auto;
	display: table;
	height: 100%;

	@media only screen and (max-width: 1300px) {

		width: 1000px;
		margin: 0 auto;
	}

	@media only screen and (max-width: 1023px) {

		width: 768px;
		margin: 0 auto;
	}

	@media only screen and (max-width: 780px) {

		width: 320px;
		margin: 0 auto;
		display: block;
		padding: 0 10px 0 10px;
		box-sizing: border-box;
	}

}

header{
	padding-top: 60px;
}

.logo{
	background-image: url("../img/logo.png");
	float: left;
	width: 356px;
	height: 43px;

	@media only screen and (max-width: 780px) {
		background-image: url("../img/logo.png");
		float: left;
		width: 237px;
		height: 29px;
		background-size: contain;
	}
}

input{
	width: 280px;
	border: none;
	padding-left: 10px;
}

.search{
	width: 280px;
	float: right;
	display: inline-flex;
	border: 1px solid gray;
	border-radius: 16px;
	padding: 2px 10px;

	& span{
		padding: 15px;
		background: #ffffff url("../img/search_ico.png") no-repeat center center;
	}

	@media only screen and (max-width: 780px) {
		width: 240px;
		float: none;
	}
}

.text{
	text-align: center;
	padding: 0 15%;
	font-size: $med;
	line-height: 52px;

	@media only screen and (max-width: 1300px) {
		text-align: center;
		padding: 0 10px;
		font-size: 32px;
		line-height: 52px;
	}

	@media only screen and (max-width: 1023px) {
		text-align: center;
		padding: 0 10px;
		font-size: 32px;
		line-height: 52px;
	}

	@media only screen and (max-width: 780px) {
		text-align: center;
		padding: 0 15%;
		font-size: 16px;
		line-height: 20px;
	}


}

section{
	display: table-row;
	height: 100%;
}

a{
	color: $blue;
}

.book{
	display: none;
	width: 21.3%;
	padding-top: 50px;
	margin: 0 1.4%;

		&_img{
			padding-top: 30px;
			padding-bottom: 20px;
		}

		& p{
			 text-align: $center;
			 font-size: $sm;
			 color: $grey;
		}

		& p u{
			color: $blue;
		}

		& a{
			text-decoration: none;
		}

		div &:nth-child(1) {
			display: inline-flex;
		}

		div &:nth-child(2) {
			display: inline-flex;
		}

		div &:nth-child(3) {
			display: inline-flex;
		}

		div &:nth-child(4) {
			display: inline-flex;
		}

	@media only screen and (max-width: 1023px) {
		display: none;
		width: 50%;
		padding-top: 50px;
		margin: 0;
	}

	@media only screen and (max-width: 780px) {
		display: none;
		width: 100%;
		padding-top: 50px;
		margin: 0 1.4%;
	}
}

.bender_footer{
	background-image: url("../img/logo_footer.png");
	text-align: center;
	width: 300px;
	position: relative;
	height: 194px;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 70px;
}

.text_md{
	padding: 0 26%;

		& h2{
			font-size: 42px;
			font-weight: bold;
			margin-bottom: 30px;
			margin-top: 50px;
		}

		& p{
			font-size: $sm;
			line-height: 29px;
		}

		& h3{
			font-size: 24px;
			margin: 30px 0;
		}

		& span{
			font-style: italic;
		}

		& ul{
			padding-left: 30px;
		}

		& ul li{
			font-size: $sm;
			list-style-type: none;
			padding-bottom: 30px;
		}

		& ul li:before{
		content: '— ' ;
		margin-bottom: 30px;
	}

	@media only screen and (max-width: 1300px) {
		padding: 0 10px;
	}

	@media only screen and (max-width: 1023px) {
		padding: 0 10px;
	}

	@media only screen and (max-width: 780px) {
		padding: 0 10px;

			& h2{
				font-size: 22px;
				font-weight: bold;
				margin-bottom: 30px;
				margin-top: 50px;
			}
	}
}

.elegant{
	padding: 0 20%;

		& p{
			font-size: 36px;
			font-family: 'ALSFuchsia';
			padding: 50px 0;
			margin: 50px 0;
			border-top: 1px solid #7d7d7d;
			border-bottom: 1px solid #7d7d7d;
		}

	@media only screen and (max-width: 1300px) {
		padding: 0 10px;
	}

	@media only screen and (max-width: 1023px) {
		padding: 0 10px;
	}

	@media only screen and (max-width: 780px) {
		padding: 0 10px;

			& p{
				font-size: 20px;
			}
	}

}

.icon{
	display: inline-block;
	margin: 60px auto;
	width: 16%;

	@media only screen and (max-width: 780px) {
		display: inline-block;
		margin: 10px auto;
		width: 100%;
	}
}

.more_link {
	display: block;
	width: 280px;
	margin: 50px auto 0 auto;
	border: 2px solid #4283c0;
	border-radius: 9px;
	text-align: center;
	cursor: pointer;
	color: #4283c0;
	padding: 10px 0;
	font-size: 17px;
}

.block{
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 50px;

	 & p{
		 font-size: 21px;
		 margin-top: 25px;
	 }

	@media only screen and (max-width: 1023px) {
		display: block;
		float: right;
		width: 50%;
	}

	@media only screen and (max-width: 780px) {
		display: block;
		float: none;
		width: 280px;
	}
}

.one_book{
	display: block;
	position: relative;

	@media only screen and (max-width: 1023px) {
		&>div:nth-child(1) {
			float: left;
			width: 100%;
		}

		&>div:nth-child(2) {
			float: right;
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 0;
		}

		&>div:nth-child(3) {
			float: left;
			width: 100%;
		}
	}
}

.big_block{
	width: 36%;
	float: left;
	margin: 50px 12%;
	display: inline-grid;

	& p{
		text-align: center;
		font-size: 24px;
	}

	& strong{
		color: #fe5552;
		
	}
	& .price_ds{
		color: #dbdbdb;
		font-size: 15px;
		font-style: italic;
	}
	& img{
		margin: 10px auto;
		display: table;
	}

	& p:nth-child(1){

	}

	@media only screen and (max-width: 1023px) {
		display: block;
		float: right;
		width: 100%;
		margin-left: 0;
	}

	@media only screen and (max-width: 780px) {
		display: block;
		float: none;
		width: 280px;
		margin-left: 0;
	}

}

.one_icon {
	margin: 10px auto;
	display: table;
}

.price{
	display: block;
	margin: 30px auto ;
	background-color: #825484;
	border-radius: 9px;
	text-align: center;
	cursor: pointer;
	color: $white;
	padding: 22px 20px;
	font-size: 32px;
	text-decoration: none;

		&:hover{
			box-shadow: 2px 10px 15px 2px rgba(51, 10, 110, 0.48);
		}

	@media only screen and (max-width: 1023px) {
		width: 60%;
		font-size: 18px;
		padding: 12px 10px;
	}
}

.singleBook img {

	@media only screen and (max-width: 1300px) {
		width: 60%;
	}

	@media only screen and (max-width: 1023px) {
		width: 60%;
	}

	@media only screen and (max-width: 780px) {
		height: 250px;
		width: auto;
		display: block;
	}

}

.icons{
	@media only screen and (max-width: 780px) {
		text-align: center;
	}
}